In [25]:
import numpy as np
import pandas as pd

In [26]:
df = pd.read_csv('NMC1-9.csv')

In [27]:
df.shape

(90982, 5)

In [28]:
df

       time(s)    V_m  Current  Cycle       Cap
0            0  4.098    0.997      1  2.840817
1            1  4.096    0.998      1  2.840817
2            2  4.094    0.999      1  2.840817
3            3  4.093    0.998      1  2.840817
4            4  4.092    0.999      1  2.840817
...        ...    ...      ...    ...       ...
90977    90977  2.506    1.002      9  2.770180
90978    90978  2.504    1.002      9  2.770180
90979    90979  2.502    1.002      9  2.770180
90980    90980  2.500    1.002      9  2.770180
90981    90981  2.497    1.002      9  2.770180

[90982 rows x 5 columns]

In [34]:
df['hambatan']=df.V_m/df.Current

In [37]:
df['daya']=df.V_m*df.Current

In [38]:
df

       time(s)    V_m  Current  Cycle       Cap  hambatan      daya
0            0  4.098    0.997      1  2.840817  4.110331  4.085706
1            1  4.096    0.998      1  2.840817  4.104208  4.087808
2            2  4.094    0.999      1  2.840817  4.098098  4.089906
3            3  4.093    0.998      1  2.840817  4.101202  4.084814
4            4  4.092    0.999      1  2.840817  4.096096  4.087908
...        ...    ...      ...    ...       ...       ...       ...
90977    90977  2.506    1.002      9  2.770180  2.500998  2.511012
90978    90978  2.504    1.002      9  2.770180  2.499002  2.509008
90979    90979  2.502    1.002      9  2.770180  2.497006  2.507004
90980    90980  2.500    1.002      9  2.770180  2.495010  2.505000
90981    90981  2.497    1.002      9  2.770180  2.492016  2.501994

[90982 rows x 7 columns]

In [41]:
df['R/P']=df.hambatan/df.daya

In [42]:
df

       time(s)    V_m  Current  Cycle       Cap  hambatan      daya       R/P
0            0  4.098    0.997      1  2.840817  4.110331  1.006027  4.085706
1            1  4.096    0.998      1  2.840817  4.104208  1.004012  4.087808
2            2  4.094    0.999      1  2.840817  4.098098  1.002003  4.089906
3            3  4.093    0.998      1  2.840817  4.101202  1.004012  4.084814
4            4  4.092    0.999      1  2.840817  4.096096  1.002003  4.087908
...        ...    ...      ...    ...       ...       ...       ...       ...
90977    90977  2.506    1.002      9  2.770180  2.500998  0.996012  2.511012
90978    90978  2.504    1.002      9  2.770180  2.499002  0.996012  2.509008
90979    90979  2.502    1.002      9  2.770180  2.497006  0.996012  2.507004
90980    90980  2.500    1.002      9  2.770180  2.495010  0.996012  2.505000
90981    90981  2.497    1.002      9  2.770180  2.492016  0.996012  2.501994

[90982 rows x 8 columns]

In [43]:
hapus=['hambatan','daya']

In [44]:
df.drop(hapus, inplace=True, axis=1)

In [45]:
df

       time(s)    V_m  Current  Cycle       Cap       R/P
0            0  4.098    0.997      1  2.840817  4.085706
1            1  4.096    0.998      1  2.840817  4.087808
2            2  4.094    0.999      1  2.840817  4.089906
3            3  4.093    0.998      1  2.840817  4.084814
4            4  4.092    0.999      1  2.840817  4.087908
...        ...    ...      ...    ...       ...       ...
90977    90977  2.506    1.002      9  2.770180  2.511012
90978    90978  2.504    1.002      9  2.770180  2.509008
90979    90979  2.502    1.002      9  2.770180  2.507004
90980    90980  2.500    1.002      9  2.770180  2.505000
90981    90981  2.497    1.002      9  2.770180  2.501994

[90982 rows x 6 columns]

In [119]:
df[
    (df["Current"]==1)&
    (df["Cycle"]==1)
].groupby("Cap").mean()

              time(s)       V_m  Current  Cycle       R/P
Cap
2.840817  5256.411765  3.583933      1.0    1.0  3.583933

In [118]:
df[
    (df["Current"]==1)&
    (df["Cycle"]==3)
].groupby("Cap").mean()

              time(s)       V_m  Current  Cycle       R/P
Cap
2.82352  25503.486709  3.613351      1.0    3.0  3.613351

In [117]:
df[
    (df["Current"]==1)&
    (df["Cycle"]==5)
].groupby("Cap").mean()

               time(s)       V_m  Current  Cycle       R/P
Cap
2.804878  45751.665391  3.619569      1.0    5.0  3.619569

In [116]:
df[
    (df["Current"]==1)&
    (df["Cycle"]==7)
].groupby("Cap").mean()

              time(s)       V_m  Current  Cycle       R/P
Cap
2.78686  65827.118577  3.626475      1.0    7.0  3.626475

In [115]:
df[
    (df["Current"]==1)&
    (df["Cycle"]==9)
].groupby("Cap").mean()

              time(s)       V_m  Current  Cycle       R/P
Cap
2.77018  85787.886329  3.637579      1.0    9.0  3.637579